.main_body
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
}

.PJ
{
    background-color: rgba(var(--secondary));
    width: 50%;
    justify-self: center;

}

.PJ > img
{
    object-fit: cover;
    width: 90%;
}
