html
{
    width:100%;
}

:root
{
    --text: #050315;
    --background: 215, 229, 240;
    --primary: #ce27ba;
    --secondary: #9e98fb;
    --accent: #f64f51;
}

*
{
    font-size: 1.5vw;
    font-family: Roboto;
}

body
{
    background-image: url("galaxy background.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    place-content: center;
}

.outer_box
{
    background-color: rgba(var(--background), 0.5);
    border: 2px solid var(--accent);
    width: 60vw;
    place-self: center;
}

.nav
{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    place-self: center;
    text-align: center;
}

.nav div
{
    border: 2px solid var(--accent);
}

.my-button
{
    text-decoration: none;
}

.footer
{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    place-self: center;
}

.footer div
{
    border: 2px solid var(--accent);
}