*
{
    font-family: sans-serif;
}

.area
{
    display: flex;
    align-items: flex-start;
}


.heading
{
    font-size: 250%;
    color: red;
    border-style: solid;
    border-color: black;
    order: 1;
    align-self: center;
    justify-content: center;
}

.logo
{
    order: 0
}