.main_body
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
}


.cw, .pw
{
    place-self: center;
    font-size: 2vw;
}

.title2
{
    text-align: center;
    border: none;
}