.photos
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.landscape
{
    grid-column: span 3; /* spans more columns for landscape images */
    width: 100%;
    height: 100%;
}

.portrait 
{
    grid-column: span 1; /* normal span for portrait images */
    width: 100%;
    height: 100%;
}

.photos > img
{
    object-fit: cover;
    object-position:center;
}